@import "tailwindcss";

@theme {
  --font-display: 'Satoshi', 'sans-serif';
  --color-gradient-purple: #9042F0;
  --color-gradient-pink: #C353A1;
  --color-gradient-red: #FC5B66;
  --color-gradient-orange: #fe9544;

  --animate-gradient-roll: gradient-roll 15s ease infinite;
  --animate-heartbeat: heartbeat 2s infinite;

  @keyframes heartbeat {
    0% { transform: scale(1) }
    5% { transform: scale(1.1) }
    10% { transform: scale(1) }
    15% { transform: scale(1.1) }
    50% { transform: scale(1) }
    100% { transform: scale(1) }
  }
}

@keyframes gradient-roll {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}



@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/Satoshi-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/Satoshi-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('./assets/fonts/Satoshi-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  @apply w-full h-full flex justify-center items-center;
}
